<mat-card>
  <mat-card-content>
    <mat-card-title>Input</mat-card-title>
    <mat-card-subtitle>Text fields let users enter and input text.</mat-card-subtitle>
    <h4>Basic</h4>
    <code>
      &lt;mat-form-field&gt;&lt;mat-label&gt;Favourite Food&lt;/mat-label&gt;<br/>
      &lt;input matInput&gt;&lt;/mat-form-field&gt;
    </code>
    <br/>
    <br/>
    <form class="example-form">
      <p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>
    </form>
    <h4>Disabled input</h4>
    <form class="example-form">
      <mat-form-field appearance="outline">
        <input matInput type="text" disabled value="Disabled">
      </mat-form-field>
    </form>
    <h4>Error state</h4>
    <form class="example-form">
      <mat-form-field appearance="outline">
        <input type="email" matInput [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is required.
        </mat-error>
      </mat-form-field>
      <p>
      <mat-form-field appearance="outline">
        <input matInput maxlength="5" value="12345">
        <mat-hint align="start">5 is maximum</mat-hint>
      </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>
    </form>
  </mat-card-content>
</mat-card>
