<mat-card>
	<mat-card-content>
	<mat-card-title>Icon Button</mat-card-title>
			<mat-card-subtitle>
        An icon button is an icon that triggers some sort of action on the page. It is a button that contains an icon and no (visible) accompanying text.
      </mat-card-subtitle>
    <h4>Icons<br/>
      <code class="bg-light">&lt;button mat-icon-button color="primary"&gt;&lt;mat-icon&gt;devices&lt;/mat-icon&gt;&lt;/button&gt;</code>
      <br/>
    </h4>
    <div class="button-row">
      <button mat-icon-button color="primary">
        <mat-icon>devices</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>
    <h4>Disabled</h4>
    <div class="button-row">
      <button mat-icon-button color="primary" disabled>
        <mat-icon>devices</mat-icon>
      </button>
      <button mat-icon-button color="primary" disabled>
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>
	</mat-card-content>
</mat-card>
