.mat-chip {
  font-family: $font-families-default;
  /* Greyscale/Gray 700 */
  font-style: normal;
  font-weight: $font-weight-regular;
  font-size: $font-size-3;
  line-height: $font-size-7;
  color: $colour-text-default;
  &.mat-standard-chip {
    background:none;
    border: 1px solid $colour-text-secondary;
    border-radius: 1rem;
    &.mat-warn {
      background: $colour-status-emergency-light;
      .mat-chip-remove {
        size: $font-size-7;
        color: $colour-interactive-error;
        &:hover {
          opacity: 1!important;
          color: $colour-interactive-error;
        }
      }
    }
    .mat-chip-remove {
      &:hover {
        opacity: 1!important;
        size: $font-size-7;
        color: $colour-interactive-hover;
      }
    }
  }
}

