.mat-select {
  font-family: $font-families-default;
  color: $colour-text-default;
  background: transparent;
}

.mat-option:hover:not(.mat-option-disabled) {
  background: $colour-greyscale-100;
  color: $colour-brand-dark;
}

.mat-primary {
  .mat-option {
    &.mat-selected:not(.mat-option-disabled) {
      background: $colour-interactive-hover;
      color: $colour-text-light;
    }
  }
}
