button:disabled {
  pointer-events: none;
  opacity: 0.5;
}
.mat-button-base {
  // Base button
  height: 2.625rem;
  font-family:$font-families-default;
  font-size: $font-size-5;
  letter-spacing: 0.5px;
  padding: 0 0.75rem;
  align-items: center;
  // Tertiary button
  &.mat-button {
    &.mat-primary {
      text-align: center;
      letter-spacing: 0.01em;
      text-decoration-line: underline;
      color: $colour-interactive-default;

      &:hover {
        border-color: $colour-greyscale-100;
        color: $colour-interactive-hover;
        background-color: $colour-greyscale-100;
      }

      &:focus {
        border-color: $colour-greyscale-100;
        background-color: $colour-greyscale-100;
        color: $colour-interactive-hover;
        box-shadow: 0 0 0 3px $colour-interactive-focus;
        outline: none;
      }

      &.mat-button-disabled {
        color: $colour-primary-disabled;
        background: inherit;
      }
    }
  }

  // Primary button
  &.mat-raised-button {
    strong {
      vertical-align: baseline;
    }
    &:not([class*=mat-elevation-z]) {
      box-shadow: none;
    }

    &.mat-button-disabled {
      color: $colour-text-light;
    }

    &.mat-primary {
      background: $colour-interactive-default;

      &:hover {
        border-color: $colour-interactive-hover;
        background-color: $colour-interactive-hover;
      }

      &:focus {
        box-shadow: 0 0 0 3px $colour-interactive-focus;
        border-color: $colour-interactive-hover;
        background-color: $colour-interactive-hover;
        outline: none;
      }
    }

    &.mat-warn {
      //TODO: Change background-color $color-emergency-default
      background: #DA291C;

      &:not(.mat-button-disabled) {
        &:hover {
          background-color: $colour-status-emergency-dark;
          border-color: $colour-status-emergency-dark;
        }

        &:focus {
          background-color: $colour-status-emergency-dark;
          border-color: $colour-status-emergency-dark;
          box-shadow: 0 0 0 3px $colour-interactive-focus;
          outline: none;
          color: $colour-text-light;
        }
      }
    }
  }

  // Secondary button
  &.mat-stroked-button {
    background: $colour-text-light;

    &.mat-primary {
      border: ($border-width-m * 1px) solid $colour-interactive-default;

      &:hover {
        order-color: $colour-interactive-hover;
        color: $colour-interactive-hover;
        background-color: $colour-greyscale-100;
      }

      &:focus {
        border-color: $colour-interactive-hover;
        box-shadow: 0 0 0 3px $colour-interactive-focus;
        background-color: $colour-greyscale-100;
        outline: none;
      }

      &.mat-button-disabled {
        background: $colour-text-light;
        border: ($border-width-m * 1px) solid $colour-primary-disabled;
        color: $colour-primary-disabled;
      }
    }
  }
}
