/*******************
Mat card
*******************/
.mat-card {
  border: 1px solid var(--color-gray-200);
  background-color: var(--color-white);
  overflow: hidden;
  box-shadow: var(--shadow-0);
  padding: 0 !important;

  .goa-container--non-interactive {
    &:not(.goa-container--accent-thin, .goa-container--accent-thick, .goa-container--accent) {
      background: #f1f1f1;
      border-color: #dcdcdc;
    }
    &.goa-container--accent-thin {
      border-top: 0.5rem solid #dcdcdc;
    }
    &.goa-container--accent-thick {
      border-top: 1.5rem solid #dcdcdc;
    }
    .mat-card-header {
      background-color: var(--color-gray-100);
      border-color: var(--color-gray-200);
      color: var(--color-black);
    }
  }
  .goa-container--primary {
    .mat-card-header {
      background: #0081a2;
   }
  }
  .goa-container--info {
    &:not(.goa-container--accent-thin, .goa-container--accent-thick, .goa-container--accent) {
      background: #005daa11;
      border-color: #005daa;
    }
    &.goa-container--accent-thin {
      border-top: 0.5rem solid #0081a2;
    }
    &.goa-container--accent-thick {
      border-top: 1.5rem solid #0081a2;
    }
  }
  .goa-container--error {
    &:not(.goa-container--accent-thin, .goa-container--accent-thick, .goa-container--accent) {
      background: #ec040b11;
      border-color: #ec040b;
    }
    &.goa-container--accent-thin {
      border-top: 0.5rem solid #ec040b;
    }
    &.goa-container--accent-thick {
      border-top: 1.5rem solid #ec040b;
    }
  }
  .goa-container--success {
    &:not(.goa-container--accent-thin, .goa-container--accent-thick, .goa-container--accent) {
      background: #00853f11;
      border-color: #00853f;
    }
    &.goa-container--accent-thin {
      border-top: 0.5rem solid #00853f;
    }
    &.goa-container--accent-thick {
      border-top: 1.5rem solid #00853f;
    }
  }
  .goa-container--important {
    &:not(.goa-container--accent-thin, .goa-container--accent-thick, .goa-container--accent) {
      background: #feba3511;
      border-color: #feba35;
    }
    &.goa-container--accent-thin {
      border-top: 0.5rem solid #feba35;
    }
    &.goa-container--accent-thick {
      border-top: 1.5rem solid #feba35;
    }
  }
  @media (min-width: 320px) {
    margin: 0 auto;
  }
  .mat-card-content {
    font-family: var(--font-family);
    font-size: $font-size-4;
    font-weight: $font-weight-regular;
    line-height: $line-height-3;
    padding: 1rem;
    .mat-card-title {
      font-weight: $font-weight-regular;
      font-size: $font-size-7;
      line-height: $line-height-4;
      text-decoration-line: underline;
      color: $colour-interactive-default;
      border-bottom: none !important;
      margin-bottom: 2px;
    }
  }
  .mat-card-image {
    width: calc(100% + 0px);
    margin: 0 0px 0px 0px;
  }
  .mat-card-header {
    border-style: solid;
    border-width: 1px;
    border-radius: $radius $radius 0 0;
    font-weight: 700;
    font-size: var(--fs-base);
    font-family: $font-families-default;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .mat-card-header-text {
      line-height: 2rem;
      margin: 0 0.5rem;
    }
    .mat-card-subtitle,
    .mat-card-subtitle:not(:first-child) {
      margin-bottom: 0;
      margin-top: 0;
      font-size: 14px;
    }
    &.text-white {
      .mat-card-subtitle {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
  .mat-card-subtitle {
    margin-bottom: 20px;
  }
  .mat-card-actions {
    margin: 0px !important;
  }
}
