.mat-chip {
  font-weight: $font-weight-regular;
  font-size: $font-size-3;
  line-height: $font-size-7;
  &.mat-standard-chip {
    background:none;
    border: ($border-width-s)*1px solid $colour-text-secondary;
    border-radius: 1rem;
    &.mat-warn {
      background: $colour-status-emergency-light;
      .mat-chip-remove {
        size: $font-size-7;
        color: $colour-interactive-error;
        &:hover {
          opacity: 1!important;
          color: $colour-interactive-error;
        }
      }
    }
    .mat-chip-remove {
      &.mat-icon {
        height: 24px!important;
        font-size: 24px;
      }
      &:hover {
        opacity: 1!important;
        size: $font-size-7;
        color: $colour-interactive-hover;
      }
    }
  }
  div.mat-chip-ripple {
    display:none;
  }
}

