h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-families-default;
  color: $colour-text-default;
}

h1 {
  font-weight: $font-weight-bold;
  font-size: $font-size-10;
  line-height: $line-height-7;
}

h2 {
  font-weight: $font-weight-regular;
  font-size: $font-size-9;
  line-height: $line-height-6;
}

h3 {
  font-weight: $font-weight-regular;
  font-size: $font-size-7;
  line-height: $line-height-4;
}

h4 {
  font-weight: $font-weight-bold;
  font-size: $font-size-4;
  line-height: $line-height-3;
}

h5 {
  font-weight: $font-weight-regular;
  font-size: $font-size-7;
  line-height: $line-height-4;
}
