<mat-card>
  <mat-card-content>
    <mat-card-title>Radio</mat-card-title>
    <h4>Basic</h4>
    <mat-radio-group class="example-radio-group" color="primary">
      <mat-radio-button value="Orange" class="example-radio-button">Orange</mat-radio-button>
      <mat-radio-button value="Red" class="example-radio-button">Red</mat-radio-button>
      <mat-radio-button value="Blue" class="example-radio-button">Blue</mat-radio-button>
    </mat-radio-group>
    <h4>Error</h4>
    <mat-radio-group class="example-radio-group" color="warn">
      <mat-radio-button value="Orange" class="example-radio-button" checked>Orange</mat-radio-button>
      <mat-radio-button value="Red" class="example-radio-button">Red</mat-radio-button>
    </mat-radio-group>
    <h4>Disabled</h4>
    <mat-radio-group class="example-radio-group" disabled>
      <mat-radio-button value="Orange" class="example-radio-button" checked>Orange</mat-radio-button>
      <mat-radio-button value="Red" class="example-radio-button">Red</mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
</mat-card>
